@media only screen and (min-width: 1921px) {
    .header {
        max-width: 1920px;
    }
}


@media only screen and (max-width: 1600px) {
    .header {
        max-width: 1280px;
    }
}

@media only screen and (max-width: 1280px) {
    .header {
        max-width: 991px;
    }
    .nav-menu {
        gap: 20px;
    }
    .nav-menu > li > a {
        font-size: 12px;
    }
    .tel {
        font-size: 18px;
    }
}

@media only screen and (max-width: 991px) {
    .header {
        max-width: 96%;
    }
    .nav-menu-mobile.show {
        
    }
    .nav-menu {
        gap: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        max-width: 96%;
    }
}

@media only screen and (max-width: 480px) {
    .header {
        max-width: 96%;
    }
}