@media only screen and (max-width: 1600px) {

}

@media only screen and (max-width: 1200px) {
    .nav-menu {
        gap: 5px;
    }
    .nav-menu > li > a {
        font-size: 12px;
    }
    .header-tel {
        font-size: 18px;
    }
    .nav-menu-footer {
        gap: 5px;
    }
    .nav-menu-footer > li > a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 992px) {
    .nav-menu {
        gap: 10px;
    }
    .footer-logo {
        display: none;
    }
    .nav-menu-mobile-footer {
        display: flex !important;
    }
    .nav-menu-mobile-footer > ul {
        display: none;
    }
    .nav-menu-mobile.show {
        padding-top: 10px;
    }
    .nav-menu-mobile.show > .nav-menu {
        gap: 0;
    }
    /* footer */
    .footer-icons {
        margin-left: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .footer-bottom {
        border-top: 1px solid #EBEBEB;
    }
    .footer-bottom > .row {
        flex-direction: column;
    }
    .footer-bottom-text {
        gap: 0;
        flex-direction: column;
    }
    .col-footer-bottom:nth-child(2) .col-text {
        text-align: start;
    }
}

@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 480px) {
    
}